{% extends 'base.html.twig' %}

{% block title %}
    Météo de {{ cityName }}
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Voici la météo de {{ cityName }}!</h1>

        <div>
            Voici le dump du résultat
            {{ dump(resultat) }}

            Heure de la prévision: {{ resultat.list[0].dt_txt }}
            Temps qu'il fait: {{ resultat.list[0].weather[0].main }}
        </div>
    </div>
{% endblock %}