{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- CSS de Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>

    <!-- Chargement de la feuille de style du dossier public (assets) -->
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block title %}
    Météo de {{ cityName }}
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Voici la météo de {{ cityName }}!</h1>

        <div class="card" style="width: 18rem;">
            <!-- Affichage de l'icône -->
            <!-- https://openweathermap.org/weather-conditions -->
            <img src="http://openweathermap.org/img/wn/{{ resultat.weather[0].icon }}@2x.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ resultat.name }}</h5>
              <p class="card-text">Temps du jour: {{ resultat.weather[0].description }}</p>
            </div>
        </div>

        <h2>Carte</h2>

        <!-- Affichage d'une carte à partir des coordonnées -->
        Coordonnées de la ville: 
        Longitude {{ resultat.coord.lon }}
        Latitude {{ resultat.coord.lat }}

        <div id="mapid"></div>

        <div>
            Voici le dump du résultat
            {{ dump(resultat) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- Leaflet's JS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

    <!-- Chargement d'un script depuis le dossier des assets -->
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}